*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* kutu genislikleri */
.col-1{width: 8.33%;}
.col-2{width: 16.66%;}
.col-3{width: 25%;}
.col-4{width: 33.33%;}
.col-5{width: 41.66%;}
.col-6{width: 50%;}
.col-7{width: 58.33%;}
.col-8{width: 66.66%;}
.col-9{width: 75%;}
.col-10{width: 83.33%;}
.col-11{width: 91.66%;}
.col-12{width: 100%;}

/* satırlar */
.row{
    background-color: rgb(83, 80, 80);
    margin: 5px;
    border-radius: 15px;
}

/* satırlar yan yana gelmesin */
.row::after{
    content:"";
    clear: both;
    display: table;
}

/* 'col-' yaslanması */
[class*="col-"]{
    float: left;
    padding: 5px;
    border-radius: 15px;
}

/* tepkisel resim */
img{
    width: 100%;
    height: auto;
}

/* 750px'den küçük ekranlarda kutu genişliği %100 olsun */
@media screen and (max-width: 750px){
    [class*="col-"]{width:100%;}
}

/* kutu yükseklikleri */
#top{
    min-height: 50px;
    background-color: black;
}

#menu{
    height: 50px;
}

#left{
    min-height: 400px;
}

#buttom{
    height: 50px;
    background-color: black;
}

#subMenu{
    margin: 5px;
    padding: 10px;
    color: aliceblue;
}

/* ikonlar*/
#icon{
    width: 50px;
    float: right;
    margin-right: 10px;
}

#icon:hover{
    transform: scale(1.1,1.1);
    }

/*logo*/

#photo{
    width: 290px;
}

#plak{
    width: 210px;
    margin-left:125px;
}

#plak{
    animation-name: move ;
    animation-duration: 7s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes move {
    0%{
        margin-bottom: 0px;
        transform: rotate(0deg);
    }
    100%{
        margin-bottom: 0px;
        transform: rotate(360deg);
    }
}
